[color]
	ui = true
[user]
	name = Mike Lockhart
	email = mlockhart@squiz.com.au
[push]
	#MJL20170723 this causes issue on Raspbian with Git < 2.0. Maybe use 'upstream'?
	default = simple
[alias]
	glog = log --graph --all --decorate
	dlog = log --graph --all --decorate --date-order
	sup = submodule update --init --recursive
	spull = !echo git pull && git pull && echo git submodule update --init --recursive && git sup

#[core]
#	excludesfile = /Users/mlockhart/.gitignore_global

# additions made by sourcetree
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
#[mergetool "sourcetree"]
#	cmd = /Volumes/SourceTree/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
[core]
	autocrlf = input
	safecrlf = true
