[user]
  name = XXyour_nameXX
  email = XXemailXX

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  #MJL20170723 this causes issue on Raspbian with Git < 2.0. Maybe use 'upstream'?
  default = simple
[alias]
  lg = log -p
  glog = log --graph --all --decorate
  dlog = log --graph --all --decorate --date-order
  rlog = reflog
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  sup = submodule update --init --recursive
  spull = !echo git pull && git pull && echo git submodule update --init --recursive && git sup

  br = branch
  newbr = checkout -b
  ci = commit
  co = checkout

  df = diff
  dfs = diff --staged
  g = grep -I

  pick = cherry-pick
  pop = stash pop
  pmr = !"git push -u origin $(git branch|awk '/\\*/{print $2}')"

  revert = checkout --
  undo = reset HEAD~
  fix = commit --amend

  rb = rbranch
  rv = review
  st = status

  dump = cat-file -p
  type = cat-file -t

  url = config --get remote.origin.url
  fuck-this-noise = !"echo 'Fucking thing sucks!'; FUCK=$(git url); SHIT=$(basename $PWD); cd ..; rm -rf $SHIT; git clone $FUCK; unset FUCK SHIT"

#  ksdiff = difftool -y -t Kaleidoscope

[core]
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[merge]
  log = true
#[difftool "Kaleidoscope"]
#  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
#[rerere]
#  enabled = 1
[url "git@github.com:"]
 insteadOf = "gh:"
 pushInsteadOf = "github:"
 pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
 insteadOf = "github:"
[url "git@gist.github.com:"]
 insteadOf = "gst:"
 pushInsteadOf = "gist:"
 pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
 insteadOf = "gist:"
[url "git@heroku.com:"]
 insteadOf = "heroku:"
[url "git@gitlab.com:"]
 insteadOf = "lab:"
 pushInsteadOf = "gitlab:"
 pushInsteadOf = "git://gitlab.com/"
